backend/Common/Protocols/Source/Ximple/Generic/dictionary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Dictionary">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs="1" name="Version" />
        <xs:element  maxOccurs="1" minOccurs="1" name="Languages">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" minOccurs="1" name="Language">
                <xs:complexType>
                  <xs:attribute name="Index" type="xs:unsignedByte" use="required" />
                  <xs:attribute name="Name" type="xs:string" use="required" />
                  <xs:attribute name="Description" type="xs:string" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element  maxOccurs="1" minOccurs="1" name="Tables">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" minOccurs="1" name="Table">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Description" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element maxOccurs="unbounded" name="Column" minOccurs="0">
                      <xs:complexType>
                        <xs:attribute name="Index" type="xs:unsignedByte" use="required" />
                        <xs:attribute name="Name" type="xs:string" use="required" />
                        <xs:attribute name="Description" type="xs:string" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="Index" type="xs:unsignedByte" use="required" />
                  <xs:attribute name="Name" type="xs:string" use="required" />
                  <xs:attribute name="MultiLanguage" type="xs:boolean" use="required" />
                  <xs:attribute name="MultiRow" type="xs:boolean" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>