backend/Center/BackgroundSystem/Spikes/PerturbationManager/WpfApplication/Service References/UnitServiceReference/Gorba.Center.Common.ServiceModel.Filters.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Gorba.Center.Common.ServiceModel.Filters" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Gorba.Center.Common.ServiceModel.Filters" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFilterData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FilterData" nillable="true" type="tns:FilterData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFilterData" nillable="true" type="tns:ArrayOfFilterData" />
  <xs:complexType name="FilterData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comparison" type="tns:FilterComparison" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FilterData" nillable="true" type="tns:FilterData" />
  <xs:simpleType name="FilterComparison">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Default" />
      <xs:enumeration value="LessThan" />
      <xs:enumeration value="GreaterThan" />
      <xs:enumeration value="Equals" />
      <xs:enumeration value="LessThanEqual" />
      <xs:enumeration value="GreaterThanEqual" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FilterComparison" nillable="true" type="tns:FilterComparison" />
</xs:schema>