backend/Center/BackgroundSystem/Spikes/PerturbationManager/WpfApplication/Service References/UnitServiceReference/Gorba.Center.Common.ServiceModel.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Gorba.Center.Common.ServiceModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Gorba.Center.Common.ServiceModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="FilterBase">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="FilterData" nillable="true" type="q1:ArrayOfKeyValueOfstringArrayOfFilterDataMdswYWdT" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IgnoreTenant" type="xs:boolean" />
      <xs:element minOccurs="0" name="Skip" type="xs:int" />
      <xs:element minOccurs="0" name="SortExpressions" nillable="true" type="tns:ArrayOfSortExpression" />
      <xs:element minOccurs="0" name="Take" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TenantId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FilterBase" nillable="true" type="tns:FilterBase" />
  <xs:complexType name="ArrayOfSortExpression">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SortExpression" nillable="true" type="tns:SortExpression" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSortExpression" nillable="true" type="tns:ArrayOfSortExpression" />
  <xs:complexType name="SortExpression">
    <xs:sequence>
      <xs:element minOccurs="0" name="Direction" type="tns:SortDirection" />
      <xs:element minOccurs="0" name="Property" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SortExpression" nillable="true" type="tns:SortExpression" />
  <xs:simpleType name="SortDirection">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Asceding" />
      <xs:enumeration value="Descending" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SortDirection" nillable="true" type="tns:SortDirection" />
</xs:schema>