backend/Center/BackgroundSystem/Spikes/PerturbationManager/WpfApplication/Service References/UnitServiceReference/Gorba.Center.Common.ServiceModel.DTO.Itcs.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Gorba.Center.Common.ServiceModel.DTO.Itcs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Gorba.Center.Common.ServiceModel.DTO.Itcs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Gorba.Center.Common.ServiceModel.DTO.Activities" />
  <xs:complexType name="ArrayOfDisplayDataFilter">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DisplayDataFilter" nillable="true" type="tns:DisplayDataFilter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDisplayDataFilter" nillable="true" type="tns:ArrayOfDisplayDataFilter" />
  <xs:complexType name="DisplayDataFilter">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Gorba.Center.Common.ServiceModel.DTO.Activities" minOccurs="0" name="Activities" nillable="true" type="q1:ArrayOfAc" />
      <xs:element minOccurs="0" name="AreaName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DirectionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItcsProviderName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LineName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DisplayDataFilter" nillable="true" type="tns:DisplayDataFilter" />
  <xs:complexType name="StopPointIdentifier">
    <xs:sequence>
      <xs:element minOccurs="0" name="Value" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StopPointIdentifier" nillable="true" type="tns:StopPointIdentifier" />
  <xs:complexType name="ItcsLineStopPointReference">
    <xs:sequence>
      <xs:element minOccurs="0" name="DirectionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisplayAreaName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItcsProviderName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LineId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ItcsLineStopPointReference" nillable="true" type="tns:ItcsLineStopPointReference" />
</xs:schema>