backend/Center/BackgroundSystem/Spikes/PerturbationManager/WpfApplication/Service References/UnitServiceReference/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.gorba.com/data/center/v1/" elementFormDefault="qualified" targetNamespace="http://schemas.gorba.com/data/center/v1/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UnitIdentifier">
    <xs:sequence>
      <xs:element minOccurs="0" name="Value" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UnitIdentifier" nillable="true" type="tns:UnitIdentifier" />
  <xs:complexType name="UnitGroupIdentifier">
    <xs:sequence>
      <xs:element minOccurs="0" name="Value" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UnitGroupIdentifier" nillable="true" type="tns:UnitGroupIdentifier" />
  <xs:complexType name="ArrayOfUnitIdentifier">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UnitIdentifier" nillable="true" type="tns:UnitIdentifier" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUnitIdentifier" nillable="true" type="tns:ArrayOfUnitIdentifier" />
</xs:schema>